/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Noto+Sans+TC:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;600;700;800&family=Poppins:wght@500;700&display=swap');

/* variables */
:root {
  --primary: hsl(193, 38%, 86%);
  --dark-primary: hsl(218, 23%, 16%);
  --dark-secondary: hsl(217, 19%, 24%);
  --neutral-gray: #989A9C;
  --stock-up: #D35E69;
  --stock-down: hsl(150, 100%, 66%);
  --border-radius: 10px;
}

/* base styles  */
* {
  margin: 0;
  padding: 5px 5px;
  font-family: 'Manrope', sans-serif;
}

body {
  background: var(--dark-primary);

}

a {
  color: var(--primary);
  text-decoration: none;
}

a:active {
  color: var(--stock-down);
  text-decoration: none;
}

p {
  color: var(--primary);
  padding: 0;
}

span {
  color: var(--primary);
}