/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Noto+Sans+TC:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;600;700;800&display=swap');

/* variables */
:root {
  --primary: hsl(193, 38%, 86%);
  --secondary: hsl(150, 100%, 66%);
  --dark-primary: hsl(218, 23%, 16%);
  --dark-secondary: hsl(217, 19%, 24%);
}

/* base styles  */
* {
  margin: 0;
  padding: 8px 10px;
  font-family: 'Manrope', sans-serif;
  color: var(--primary);
}

body {
  background: var(--dark-primary);
}

a {
  text-decoration: none;
}